html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* NAVBAR */
.li-navbar{
    list-style-type: none;
}
.li-navbar a{
    font-size: 20px;
    font-weight: 600;
    padding: 0px 10px;
    font-family: 'Quicksand', sans-serif;
    color: black;
    display: flex;
    align-items: center;
}
.li-navbar img{
    width: 35px;
    padding: 10px;
}
.ul-navbar{
    margin-right: 35px;
}
.navbar{
    background-color: #3AB0FF;
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
}
.logo-navbar{
    display: flex;
    align-items: center;
}
.logo-navbar img{
    width: 65px;
    height: 65px; 
}
.logo-navbar h1{
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;
    width: 500px;
}
.logo-navbar span:last-child{
    color: white;
}
.menu{
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: right;
}
.menu .ul-navbar:hover{
    background-color: #ffffff;
    text-decoration: underline;
    transition: .3s;
}
/* FORM */
.backgroundform{
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(120deg,#50A8FA 10%, #4ED6BD 95%);
}
tr{
    margin-top: 50px;
}

.judul_form{
    width: 406px;
    height: 86px;
    left: 103px;
    top: 196px;
    background: #16E3BE;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.judul_form h2{
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

table{
    margin-left: 52px;  
}
.backgroundcardform{
    position: absolute;
    width: 1235px;
    height:700px;
    left: 140px;
    top: 180px;background: #FAFAFA;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 51px;
}

.backgroundcardform td{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 200px;
}
.backgroundcardform tr:nth-child(2) td input,
.backgroundcardform tr:nth-child(10) td input{
    width: 1000px;
    height: 40px; 
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    padding-left: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.backgroundcardform tr:nth-child(4) select{
    width: 18%;
    height: 50px;
    font-size: 20px;
    font-family: 'quicksand', sans-serif;
    border-radius: 20px;
    padding-left: 10px;

}
.backgroundcardform tr:nth-child(6) td input[type=radio]{
    width: 20px;
    height: 20px;
}
.backgroundcardform tr:nth-child(8) select{
    width: 28%;
    height: 50px;
    font-size: 20px;
    font-family: 'quicksand', sans-serif;
    border-radius: 20px;
    padding-left: 10px;

}

.backgroundcardform tr td textarea{
    padding-left: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    width: 1000px;
    border-radius: 10px;
    border: 1px solid #000000;
}
.backgroundcardform tr:last-child td:first-child input{
    background-color: #16E381;
    margin-top: 30px;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-family: 'quicksand', sans-serif;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
}
.backgroundcardform tr:last-child td:first-child input:hover{
   text-transform: uppercase;
   box-shadow: 5px 5px 3px rgba(0, 255, 34, 0.485);
   transition: .5s;
}
.backgroundcardform tr:last-child td:last-child input{
    background-color: #FD2828;
    margin-top: 30px;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-family: 'quicksand', sans-serif;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
}
.backgroundcardform tr:last-child td:last-child input:hover{
    text-transform: uppercase;
    box-shadow: 5px 5px 3px rgba(255, 0, 0, 0.485);
    transition: .5s;
 }
.judul_form tr:last-child td{
    display: flex;
}

input[type=date]{
    width: 1015px;
    border: 1px solid #000000;
    border-radius: 10px;
    height : 40px;
}
